
/* MASONRY LAYOUT*/
:root{
	--card_width: 250px;
	--card_border_radius: 20px;
	--row_increment: 10px;
}

.image-list{
    max-width: 1000px;
    margin:auto;
    display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 400px;
	grid-auto-flow: dense;
}

.image-list > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
    padding: 5px;
}

.image-list > div {
	display: flex;
	justify-content: center;
	align-items: center;
}


/* large smart-phone */
@media screen and (max-width: 850px ){

    /* MASONRY LAYOUT */
    .image-list{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-template-rows: masonry;
    }
}