/* MESONRY DISPLAY */
.image-list img{
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}


.image-wrapper {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 4px 4px 6px rgba(91, 91, 91, 0.3);

  &:hover {
    .info {
      transform: translateY(0);
    }
  }
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(70px + 1em));
  transition: transform 0.9s;
  
  .info-content {
    display: flex;
    background-color: rgba(0, 0, 0, 0.311);
    color: white;
    padding: 20px 40px;
    font-weight: 500;
    font-size: 20px;
    position: relative;
    z-index: 1;
    justify-content: space-between;
  }
}

i {
  cursor: pointer;
}


// IMAGE INTERACTION MENU
.image-menu{
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
}

i:active{
  color:rgba(255, 255, 255, 0.505);
}