/* COMPONENT WRAPPER */
.header{
  height: 400px;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #ffffff;

  border-radius: 50%/0 0 20px 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.091)
}

nav{
  background-color: white;
}

.header-wrapper{
  display:block ;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 0px;
  padding-bottom:20px;
  vertical-align: middle;
}


/* LOGO */
.header-logo-wrapper{
  display:inline-block;
  vertical-align: middle;
  float:none;
  margin:100px auto;
  margin-bottom: 25px;
}

.text-wrapper{
  display:inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.header-logo-text, .header-logo-icon{
  margin:0px; 
  font-size: 55px;
  line-height:55px;
  font-weight: 900;
  font-weight: 900;
  
  color:#5319ff;

  background-image: linear-gradient(45deg, #5dffef, #7819b7);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.header-logo-text{
  display:inline-block;
  vertical-align: middle;
  text-align: left;
  letter-spacing:1px;
}

h2{
  margin:0;
  padding:0;
  color:#5319ff;
  font-size: 9px;
  letter-spacing: 1px;
  text-align:left;
}

.header-logo-icon{
  position: relative;
  top:4px;
  display: inline-block;
  margin:0;
  vertical-align: middle;
  font-size:55px;
  line-height: 55px;
}

/* ACCOUNT MENU  */
.header-menu-wrapper{
  display:block;
  float: right;
  margin-left:-100px;
}

.header-menu-wrapper button{
  margin:0;
}

.header-menu-button{
  border: none;
  border-radius: 100%;
  height: 40px;
  width:40px;
  rotate:90deg;
  color: gray;
  background-color: rgba(255, 255, 255, 0);
}

.header-account-button{
  border: none;
  border-radius: 100%;
  height: 40px;
  width:40px;
  color: gray;
  background-color: white;
}


/* SEARCH */

.header-search-wrapper{
  display: block;
  width:60%;
  max-width: 1000px;
  margin: auto;
}

.header-search-input{
  margin: 0;
  width: 80%;
  height:40px;
  border-radius: 20px 0px 0px 20px ;
  padding: 0 20px;
  border: solid 1px rgb(214, 214, 214);
}


.header-search-button {
  z-index: 1;
  width: 20%;
  position: relative;
  height:40px;
  margin: auto;
  padding: 0px 15px;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 0px 20px 20px 0 ;
  background-image: linear-gradient(45deg, #4dedff, #1678f7);
}

/* gradient animation */
.header-search-button::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(45deg, #e74dff, #ddf716);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
  border-radius: 0px 20px 20px 0 ;
}

.header-search-button:hover::before {
  opacity: 1;
}
.header-search-button:active::before {
  box-shadow: inset 0px 3px 2px #525252;
}


/* //////////////////////////////// */
/* MENU SETTING */
/* //////////////////////////////// */

/* Main setting */
.headroom {
  top: 300px;
  left: 0;
  right: 0;
  zIndex: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
  background-image: linear-gradient(45deg, #e74dff, #ddf716);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}



/* large smart-phone */
@media screen and (max-width: 850px ){ 

.header-search-wrapper{
  width:80%;  
}

.button-text{
  display: none;
}

}

