/* COMPONENT WRAPPER */
  
#navbar {
  /* position: relative; */
  transition: all 0.5s;
  top: -200px;
}


.sticky-top{
    background-color: white;
    margin:0px;
    padding: 0px;
}
  
nav .header-wrapper{
    display:block;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 10px;
}
  
  
/* LOGO */
nav .header-logo-wrapper{
    display:inline-block;
    vertical-align: middle;
    float:left;
    margin:0px auto;
    margin-bottom: 15px;
  }

  
nav .header-logo-text, nav .header-logo-icon{
    font-weight: 900;
    font-weight: 900;
    
    color:#5319ff;
  
    background-image: linear-gradient(45deg, #5dffef, #7819b7);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  
nav .header-logo-text{
    display:block;
    vertical-align: middle;
    text-align: left;
    letter-spacing:1px;
    font-size: 25px;
    line-height: 25px;
    margin: 0;
    padding: 0;
  }
  
nav h2{
    display: block;
    margin:0;
    padding:0;
    color:#5319ff;
    font-size: 9px;
    letter-spacing: 1px;
    text-align:left;
}
  
nav .header-logo-icon{
    position: relative;
    top:4px;
    display: inline-block;
    margin:0;
    vertical-align: middle;
    font-size:35px;
    line-height: 35px;
  }
  
  /* ACCOUNT MENU  */
  nav .header-menu-wrapper{
    display:block;
    float: right;
    margin-left:-100px;
  }
  
  nav .header-menu-wrapper button{
    margin:0;
  }
  
  nav .header-menu-button{
    border: none;
    border-radius: 100%;
    height: 40px;
    width:40px;
    rotate:90deg;
    color: gray;
    background-color: rgba(255, 255, 255, 0);
  }
  
  nav .header-account-button{
    border: none;
    border-radius: 100%;
    height: 40px;
    width:40px;
    color: gray;
    background-color: white;
  }
  
  
  /* SEARCH */
  nav .header-search-wrapper{
    display: block;
    text-align: left;
    width:100%;

  }
  
  nav .header-search-input{
    margin: 0;
    width: 90%;
    height:30px;
    font-size: 12px;
    border-radius: 20px 0px 0px 20px ;
    padding: 0 20px;
    border: solid 1px rgb(214, 214, 214);
  }
  
  
  nav .header-search-button {
    z-index: 1;
    width: 10%;
    position: relative;
    height:30px;
    margin: auto;
    padding: 0px 15px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 0px 20px 20px 0 ;
    background-image: linear-gradient(45deg, #4dedff, #1678f7);
  }
  
  /* gradient animation */
  nav .header-search-button::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(45deg, #e74dff, #ddf716);
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
    border-radius: 0px 20px 20px 0 ;
  }
  
  nav .header-search-button:hover::before {
    opacity: 1;
  }
  nav .header-search-button:active::before {
    box-shadow: inset 0px 3px 2px #525252;
  }
  
  
  /* //////////////////////////////// */
  /* MENU SETTING */
  /* //////////////////////////////// */
  
  /* Main setting */
  nav .headroom {
    top: 300px;
    left: 0;
    right: 0;
    zIndex: 1;
  }
  nav .headroom--unfixed {
    position: relative;
    transform: translateY(0);
  }
  nav .headroom--scrolled {
    transition: transform 200ms ease-in-out;
  }
  nav  .headroom--unpinned {
    position: fixed;
    transform: translateY(-100%);
    background-image: linear-gradient(45deg, #e74dff, #ddf716);
  }
  nav .headroom--pinned {
    position: fixed;
    transform: translateY(0%);
  }
  
  
  
  /* large smart-phone */
  @media screen and (max-width: 850px ){ 
    nav .button-text, nav .logo-claim{
      display: none;
    }
  }
  
  